design/
autres/
maquette/

personalities-business/src/main/resources/application-dev.properties
personalities-business/src/test/resources/application-test.properties

**/.idea/
**/.vscode/
**/.dbeaver/
**/.metadata/
**/.settings/
**/.classpath
**/.project

**/personalities-business.iml
**/.mvn/
**/mvnw*
**/target/
**/bin/

**/node_modules/
**/.env*

**/.DS_Store
