design/
autres/
maquette/

**/.application-dev.properties
**/.idea
**/.vscode
**/.metadata
**/.settings
**/.classpath
**/.project
**/.dbeaver

**/personalities-business.iml
**/.mvn
**/mvnw*
**/target
**/bin
**/node_modules


**/.DS_Store
/.metadata/
