design/
autres/
maquette/
personalities_database/
personalities_web/

**/.idea
**/.metadata
**/.settings
**/.classpath
**/personalities-business.iml
**/.mvn
**/mvnw*
**/target
**/bin

**/.project
**/.dbeaver


**/.DS_Store
/.metadata/
