
#app {
  margin: 0 auto;
  font-weight: normal;
}


@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype') ;
    font-display: auto;
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: 'Inter', sans-serif !important;
}
